@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  scroll-behavior: smooth;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.6rem;
  height: 1.6rem;
  gap: 0.42rem;
  cursor: pointer;
}
.menu .line {
  background-color: #15141b;
  height: 2px;
  width: 100%;
  transition: all 0.5s;
  transform-origin: left;
}
.menu.dark .line {
  background-color: #fff;
}
.menu.light .line {
  background-color: #15141b;
}
.menu:hover .line {
  background-color: #458a8a;
}
.menu.dark:hover .line {
  background-color: #5ed8d8;
}

.menu.active .line:first-child {
  transform: rotate(45deg);
}

.menu.active .line:nth-child(2) {
  opacity: 0;
}

.menu.active .line:last-child {
  transform: rotate(-45deg);
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 60px;
  display: block;
}

.tippy-box[data-theme~='custom'] {
  background-color: #c3c3c3;
  color: #15141b;
}

.tippy-box[data-theme~='custom'][data-placement^='bottom']
  > .tippy-arrow::before {
  border-bottom-color: #5ed8d8;
}

#dark-span:active > img,
#light-span:active > img {
  animation: spin 1s linear infinite;
  transition: all 2s ease;
}

.vertical-timeline-element.dark .vertical-timeline-element-date {
  color: #c3c3c3;
}
.vertical-timeline-element .vertical-timeline-element-date {
  color: #15141b;
}

.box-img-project {
  overflow: hidden;
}
.box-img-project img {
  transform: scale(1);
}
.box-img-project:hover img {
  filter: blur(2px);
  transform: scale(1.1);
}
.box-img-project .box-icons {
  opacity: 0;
  transition: all 0.3s;
  background-color: transparent;
}
.box-img-project:hover .box-icons {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.theme-toggle svg {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #22202b;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.html5-color {
  color: #ffa559;
}
.css3-color {
  color: #4facfd;
}
.javascript-color {
  color: #dddd04;
}
.spring-color {
  color: #5bc029;
}
.java-color {
  color: #93bfcf;
}
.thymelife-color {
  color: #1c9768;
}
.mysql-color {
  color: #a2b5bb;
}
.kotlin-color {
  color: #7f52ff;
}
.android-color {
  color: #3ddc84;
}
.firebase-color {
  color: #ffac30;
}

@media only screen and (max-width: 1170px) {
  .vertical-timeline-element.dark .vertical-timeline-element-date {
    color: #6e6e6e;
  }
  .vertical-timeline-element .vertical-timeline-element-date {
    color: #c3c3c3;
  }
}
